In [99]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing  import StandardScaler

In [58]:
# 한글 폰트 문제 해결 
# matplotlib은 한글 폰트를 지원하지 않음
# os정보
import platform
import matplotlib.pyplot as plt

# font_manager : 폰트 관리 모듈
# rc : 폰트 변경 모듈
from matplotlib import font_manager, rc
# unicode 설정
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic') # os가 macos
elif platform.system() == 'Windows':
    path = 'c:/Windows/Fonts/malgun.ttf' # os가 windows
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print("Unknown System")

In [59]:
df_merge= pd.read_csv('../../Data/날씨+일별주차이용.csv')

In [60]:
pd.read_csv('../../Data/한강2403-2409.csv')
df = pd.read_csv('../../Data/서울시 한강공원 월별 이용객 현황.csv',encoding='euc-kr')

In [61]:

print(df.columns)
df = df.loc[:,['공원 코드','공원명','일반이용자(아침)','일반이용자(낮)', '일반이용자(저녁)','현황 일시']]

Index(['현황 일련번호', '공원 코드', '공원명', '공원 시명', '공원 구명', '공원 지번 주소', '공원 도로명 주소',
       '등록자 일련번호', '등록 일시', '수정자 일련번호', '수정 일시', '일반이용자(아침)', '일반이용자(낮)',
       '일반이용자(저녁)', '자전거', '인라인', 'pm(개인형이동장치)', '주요행사', '마라톤', '운동시설', '야구장',
       '론볼링장', '트랙구장', '롤러장', '자전거공원', '외국인', '수상시설', '수영장/물놀이장', '빙상장/눈설매장',
       '전망쉼터', '캠핑장', '자연학습장', '음악분수', '키즈랜드', '장미원', 'x게임장', '자벌레', '달빛무지개',
       '세빛섬', '수상무대', '계절,녹음수광장', '천상계단', '피아노물길', '멀티프라자', '서울색공원', '물빛광장',
       '너플들판테라스', '골프장', '여의도샛강', '여의도시민 요트나루', '평화공원브릿지', '거울분수', '강변물놀이장',
       '강변프롬나드', '난지 하늘다리', '갈대숲탐장로', '꿀벌숲', '치유의숲', '그라스정원', '노들섬', '습지생태공원',
       '현황 일시'],
      dtype='object')

In [62]:
df['현황 일시']= pd.to_datetime(df['현황 일시'])

In [63]:
df_merge

,지구별,주차장명,주차대수,이용시간,날짜,code,년도,월,일,휴일여부,...,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),일강수량(mm),평균 이슬점온도(°C),평균 상대습도(%)
0,PLT-005,뚝섬1주차장,273,1.397497,2024-11-10,5,2024,11,10,주말,...,2024-11-10,14.4,10.3,536.0,21.0,1520,0.0,0.0,7.4,64.0
1,PLT-011,잠실1주차장,1059,1.044397,2024-11-10,11,2024,11,10,주말,...,2024-11-10,14.4,10.3,536.0,21.0,1520,0.0,0.0,7.4,64.0
2,PLT-001,강서1주차장,329,1.361449,2024-11-10,1,2024,11,10,주말,...,2024-11-10,14.4,10.3,536.0,21.0,1520,0.0,0.0,7.4,64.0
3,PLT-008,여의도5주차장,229,1.638210,2024-11-10,8,2024,11,10,주말,...,2024-11-10,14.4,10.3,536.0,21.0,1520,0.0,0.0,7.4,64.0
4,PLT-008,여의도2주차장,1934,1.293821,2024-11-10,8,2024,11,10,주말,...,2024-11-10,14.4,10.3,536.0,21.0,1520,0.0,0.0,7.4,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45272,PLT-008,여의도1주차장,873,4.228408,2020-01-16,8,2020,1,16,평일,...,2020-01-16,-1.7,-5.5,816.0,3.2,1430,0.0,0.0,-13.0,43.0
45273,PLT-001,강서1주차장,28,0.206548,2020-01-16,1,2020,1,16,평일,...,2020-01-16,-1.7,-5.5,816.0,3.2,1430,0.0,0.0,-13.0,43.0
45274,PLT-008,여의도1주차장,114,0.887865,2020-01-15,8,2020,1,15,평일,...,2020-01-15,-2.7,-6.4,722.0,2.2,1510,0.0,0.0,-13.4,44.8
45275,PLT-001,강서1주차장,12,0.094444,2020-01-15,1,2020,1,15,평일,...,2020-01-15,-2.7,-6.4,722.0,2.2,1510,0.0,0.0,-13.4,44.8
45276,PLT-008,여의도1주차장,2,0.000000,2020-01-14,8,2020,1,14,평일,...,2020-01-14,-2.3,-5.7,637.0,2.6,1413,0.0,0.0,-13.0,45.3

In [64]:
# PLT-001: 강서   
# PLT-002: 난지   
# PLT-003: 망원   
# PLT-004: 이촌   
# PLT-005: 뚝섬       
# PLT-006: 광나루     
# PLT-007: 양화   
# PLT-008: 여의도     
# PLT-009: 반포   
# PLT-0010: 잠원  
# PLT-0011: 잠실
                             
# Hzone011: 강서  
# Hzone009: 난지  
# Hzone010: 망원  
# Hzone006: 이촌  
# Hzone003: 뚝섬  
# Hzone001 광나루     
# Hzone008: 양화  
# Hzone007: 여의도    
# Hzone005: 반포  
# Hzone004: 잠원  
# Hzone002: 잠실

In [65]:
# 주차장일별['code'] 
codelist = []
for code in df['공원 코드']:
    codelist.append(code.replace('Hzone',""))

In [66]:
df['code'] = codelist

In [67]:
df['code']= pd.to_numeric(df['code'])

In [68]:
# df.iloc[:,]
df_merge['날짜']= pd.to_datetime(df_merge['날짜'])

In [69]:
df

        공원 코드      공원명  일반이용자(아침)  일반이용자(낮)  일반이용자(저녁)      현황 일시  code
0    Hzone001  광나루한강공원     2840.0     33780      25450 2024-02-29     1
1    Hzone006   이촌한강공원     5145.0     47990      37857 2024-02-29     6
2    Hzone003   뚝섬한강공원    13100.0    167450     187420 2024-02-29     3
3    Hzone002   잠실한강공원     9820.0     41340      49010 2024-02-29     2
4    Hzone008   양화한강공원    11150.0     33940      32050 2024-02-29     8
..        ...      ...        ...       ...        ...        ...   ...
810  Hzone002   잠실한강공원    12700.0     53510      45450 2018-01-31     2
811  Hzone007  여의도한강공원    17920.0    100690     113010 2018-01-31     7
812  Hzone008   양화한강공원     3860.0     37975      18209 2018-01-31     8
813  Hzone003   뚝섬한강공원    44450.0    449660     129590 2018-01-31     3
814  Hzone011   강서한강공원     2329.0     29174      17230 2018-01-01    11

[815 rows x 7 columns]

In [70]:
df['일반이용자(아침)'].replace(0,np.nan, inplace=True)
df['일반이용자(저녁)'].replace(0,np.nan,inplace=True)
df['일반이용자(낮)'].replace(0,np.nan,inplace=True)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815 entries, 0 to 814
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   공원 코드      815 non-null    object
 1   공원명        815 non-null    object
 2   일반이용자(아침)  783 non-null    float64
 3   일반이용자(낮)   814 non-null    float64
 4   일반이용자(저녁)  813 non-null    float64
 5   현황 일시      815 non-null    datetime64[ns]
 6   code       815 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 44.7+ KB

In [72]:
df.rename(columns={'현황 일시' : '날짜'},inplace=True)

In [73]:
df['년도'] = df['날짜'].dt.year
df['월'] = df['날짜'].dt.month

In [74]:
df

,공원 코드,공원명,일반이용자(아침),일반이용자(낮),일반이용자(저녁),날짜,code,년도,월
0,Hzone001,광나루한강공원,2840.0,33780.0,25450.0,2024-02-29,1,2024,2
1,Hzone006,이촌한강공원,5145.0,47990.0,37857.0,2024-02-29,6,2024,2
2,Hzone003,뚝섬한강공원,13100.0,167450.0,187420.0,2024-02-29,3,2024,2
3,Hzone002,잠실한강공원,9820.0,41340.0,49010.0,2024-02-29,2,2024,2
4,Hzone008,양화한강공원,11150.0,33940.0,32050.0,2024-02-29,8,2024,2
...,...,...,...,...,...,...,...,...,...
810,Hzone002,잠실한강공원,12700.0,53510.0,45450.0,2018-01-31,2,2018,1
811,Hzone007,여의도한강공원,17920.0,100690.0,113010.0,2018-01-31,7,2018,1
812,Hzone008,양화한강공원,3860.0,37975.0,18209.0,2018-01-31,8,2018,1
813,Hzone003,뚝섬한강공원,44450.0,449660.0,129590.0,2018-01-31,3,2018,1
814,Hzone011,강서한강공원,2329.0,29174.0,17230.0,2018-01-01,11,2018,1

In [75]:
nanmean= pd.DataFrame({'아침 평균':df.groupby(['code','월'])['일반이용자(아침)'].mean(),
'낮 평균':df.groupby(['code','월'])['일반이용자(낮)'].mean(),
'저녁 평균':df.groupby(['code','월'])['일반이용자(저녁)'].mean()},
)

In [76]:
nanmean.reset_index(inplace=True)

In [77]:
nanmean['합계'] = nanmean['아침 평균'] + nanmean['낮 평균'] + nanmean['저녁 평균']

In [78]:
nanmean['아침 비율'] = nanmean['아침 평균']/nanmean['합계']
nanmean['저녁 비율'] = nanmean['저녁 평균']/nanmean['합계']
nanmean['낮 비율'] = nanmean['낮 평균']/nanmean['합계']

In [79]:
nanmean.drop('합계', axis=1, inplace= True)

In [80]:
nanmean[nanmean['code'] ==5]

,code,월,아침 평균,낮 평균,저녁 평균,아침 비율,저녁 비율,낮 비율
48,5,1,7960.285714,66683.714286,37265.714286,0.071131,0.332998,0.595871
49,5,2,9493.714286,73224.571429,62592.428571,0.065334,0.430749,0.503917
50,5,3,12743.166667,125464.166667,102698.333333,0.052897,0.426301,0.520802
51,5,4,21973.800000,151144.333333,164076.333333,0.065167,0.486593,0.448241
52,5,5,17278.500000,181154.000000,249520.166667,0.038572,0.557024,0.404404
53,5,6,16211.333333,147850.000000,220182.833333,0.042190,0.573028,0.384781
54,5,7,9391.333333,84590.833333,123730.333333,0.043136,0.568320,0.388544
55,5,8,7300.666667,82438.666667,128796.166667,0.033407,0.589360,0.377232
56,5,9,9298.666667,110446.000000,227656.000000,0.026766,0.655313,0.317921
57,5,10,13352.833333,105972.833333,224651.166667,0.038819,0.653100,0.308081
58,5,11,7270.833333,64303.166667,69677.166667,0.051475,0.493286,0.455240
59,5,12,9158.000000,63627.166667,58459.666667,0.069778,0.445425,0.484797

In [81]:
df = pd.merge(df,nanmean, on=['code', '월'])

In [82]:
df['월'].unique()

array([ 2,  1, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3], dtype=int32)

In [83]:
df['일반이용자(아침)'].fillna(df['아침 평균'], inplace=True)
df['일반이용자(낮)'].fillna(df['낮 평균'], inplace=True)
df['일반이용자(저녁)'].fillna(df['저녁 평균'], inplace=True)

In [84]:
df

,공원 코드,공원명,일반이용자(아침),일반이용자(낮),일반이용자(저녁),날짜,code,년도,월,아침 평균,낮 평균,저녁 평균,아침 비율,저녁 비율,낮 비율
0,Hzone001,광나루한강공원,2840.0,33780.0,25450.0,2024-02-29,1,2024,2,9430.000000,52317.142857,28023.571429,0.105045,0.312168,0.582786
1,Hzone006,이촌한강공원,5145.0,47990.0,37857.0,2024-02-29,6,2024,2,4506.714286,44937.142857,26867.571429,0.059057,0.352078,0.588865
2,Hzone003,뚝섬한강공원,13100.0,167450.0,187420.0,2024-02-29,3,2024,2,51715.857143,266737.714286,170157.428571,0.105843,0.348247,0.545910
3,Hzone002,잠실한강공원,9820.0,41340.0,49010.0,2024-02-29,2,2024,2,11151.857143,52112.857143,47824.857143,0.100386,0.430507,0.469107
4,Hzone008,양화한강공원,11150.0,33940.0,32050.0,2024-02-29,8,2024,2,12410.600000,36774.285714,29247.285714,0.158234,0.372899,0.468867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,Hzone002,잠실한강공원,12700.0,53510.0,45450.0,2018-01-31,2,2018,1,11862.142857,53130.857143,47713.571429,0.105248,0.423343,0.471409
811,Hzone007,여의도한강공원,17920.0,100690.0,113010.0,2018-01-31,7,2018,1,9721.142857,59607.285714,58533.142857,0.076029,0.457785,0.466186
812,Hzone008,양화한강공원,3860.0,37975.0,18209.0,2018-01-31,8,2018,1,3756.600000,37534.000000,29427.857143,0.053121,0.416127,0.530753
813,Hzone003,뚝섬한강공원,44450.0,449660.0,129590.0,2018-01-31,3,2018,1,52461.428571,277238.571429,169065.714286,0.105183,0.338968,0.555849
814,Hzone011,강서한강공원,2329.0,29174.0,17230.0,2018-01-01,11,2018,1,3810.428571,30477.142857,23042.285714,0.066465,0.401925,0.531610

In [85]:
df

,공원 코드,공원명,일반이용자(아침),일반이용자(낮),일반이용자(저녁),날짜,code,년도,월,아침 평균,낮 평균,저녁 평균,아침 비율,저녁 비율,낮 비율
0,Hzone001,광나루한강공원,2840.0,33780.0,25450.0,2024-02-29,1,2024,2,9430.000000,52317.142857,28023.571429,0.105045,0.312168,0.582786
1,Hzone006,이촌한강공원,5145.0,47990.0,37857.0,2024-02-29,6,2024,2,4506.714286,44937.142857,26867.571429,0.059057,0.352078,0.588865
2,Hzone003,뚝섬한강공원,13100.0,167450.0,187420.0,2024-02-29,3,2024,2,51715.857143,266737.714286,170157.428571,0.105843,0.348247,0.545910
3,Hzone002,잠실한강공원,9820.0,41340.0,49010.0,2024-02-29,2,2024,2,11151.857143,52112.857143,47824.857143,0.100386,0.430507,0.469107
4,Hzone008,양화한강공원,11150.0,33940.0,32050.0,2024-02-29,8,2024,2,12410.600000,36774.285714,29247.285714,0.158234,0.372899,0.468867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,Hzone002,잠실한강공원,12700.0,53510.0,45450.0,2018-01-31,2,2018,1,11862.142857,53130.857143,47713.571429,0.105248,0.423343,0.471409
811,Hzone007,여의도한강공원,17920.0,100690.0,113010.0,2018-01-31,7,2018,1,9721.142857,59607.285714,58533.142857,0.076029,0.457785,0.466186
812,Hzone008,양화한강공원,3860.0,37975.0,18209.0,2018-01-31,8,2018,1,3756.600000,37534.000000,29427.857143,0.053121,0.416127,0.530753
813,Hzone003,뚝섬한강공원,44450.0,449660.0,129590.0,2018-01-31,3,2018,1,52461.428571,277238.571429,169065.714286,0.105183,0.338968,0.555849
814,Hzone011,강서한강공원,2329.0,29174.0,17230.0,2018-01-01,11,2018,1,3810.428571,30477.142857,23042.285714,0.066465,0.401925,0.531610

In [86]:
df.drop(columns=['날짜','공원명','공원 코드','아침 평균','낮 평균','저녁 평균'],axis=1,inplace=True)

--------

In [87]:
df_merge3= pd.merge(df_merge, df, how='left', left_on=['code','월','년도'], right_on=['code','월','년도'])

In [88]:
df_merge3['휴일여부']= df_merge3['휴일여부'].map({'주말' : 1, '평일' : 0, '휴일' : 1})

In [89]:
df_merge3.drop(['최저기온 시각(hhmi)','최고기온 시각(hhmi)','평균 이슬점온도(°C)','평균 상대습도(%)'], axis=1, inplace= True)

In [90]:
result  = []
for i in df_merge3['일강수량(mm)']:
    if i == 0 :
        result.append(0)
    else:
        result.append(1)

In [91]:
df_merge3['비'] = result

In [92]:
df_merge3

,지구별,주차장명,주차대수,이용시간,날짜,code,년도,월,일,휴일여부,...,최고기온(°C),강수 계속시간(hr),일강수량(mm),일반이용자(아침),일반이용자(낮),일반이용자(저녁),아침 비율,저녁 비율,낮 비율,비
0,PLT-005,뚝섬1주차장,273,1.397497,2024-11-10,5,2024,11,10,1,...,21.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0
1,PLT-011,잠실1주차장,1059,1.044397,2024-11-10,11,2024,11,10,1,...,21.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,PLT-001,강서1주차장,329,1.361449,2024-11-10,1,2024,11,10,1,...,21.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0
3,PLT-008,여의도5주차장,229,1.638210,2024-11-10,8,2024,11,10,1,...,21.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0
4,PLT-008,여의도2주차장,1934,1.293821,2024-11-10,8,2024,11,10,1,...,21.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45303,PLT-008,여의도1주차장,873,4.228408,2020-01-16,8,2020,1,16,0,...,3.2,0.0,0.0,2660.0,45428.0,17440.0,0.053121,0.416127,0.530753,0
45304,PLT-001,강서1주차장,28,0.206548,2020-01-16,1,2020,1,16,0,...,3.2,0.0,0.0,11110.0,47790.0,37360.0,0.119968,0.289408,0.590624,0
45305,PLT-008,여의도1주차장,114,0.887865,2020-01-15,8,2020,1,15,0,...,2.2,0.0,0.0,2660.0,45428.0,17440.0,0.053121,0.416127,0.530753,0
45306,PLT-001,강서1주차장,12,0.094444,2020-01-15,1,2020,1,15,0,...,2.2,0.0,0.0,11110.0,47790.0,37360.0,0.119968,0.289408,0.590624,0
45307,PLT-008,여의도1주차장,2,0.000000,2020-01-14,8,2020,1,14,0,...,2.6,0.0,0.0,2660.0,45428.0,17440.0,0.053121,0.416127,0.530753,0

In [93]:
code_month_mean=pd.DataFrame({'지점월별아침평균':df_merge3.groupby(['code','월','휴일여부'])['일반이용자(아침)'].mean(),'지점월별낮평균':df_merge3.groupby(['code','월','휴일여부'])['일반이용자(낮)'].mean(),'지점월별저녁평균':df_merge3.groupby(['code','월','휴일여부'])['일반이용자(저녁)'].mean()})
code_month_mean.reset_index(inplace=True)

In [94]:
code_month_mean

     code   월  휴일여부      지점월별아침평균       지점월별낮평균      지점월별저녁평균
0       1   1     0   7923.978495  42833.655914  21839.354839
1       1   1     1   8231.562500  43675.416667  22001.395833
2       1   2     0   7268.000000  45242.842105  26816.421053
3       1   2     1   7474.869565  45712.391304  27287.608696
4       1   3     0  11245.925926  66129.728395  35751.234568
..    ...  ..   ...           ...           ...           ...
259    11  10     1   8586.051724  44278.103448  34622.258621
260    11  11     0   6561.542636  29375.395349  23713.945736
261    11  11     1   6577.571429  30023.551020  24601.612245
262    11  12     0   4414.181818  23897.710744  19933.900826
263    11  12     1   4410.153846  23026.711538  18478.461538

[264 rows x 6 columns]

In [95]:
df_merge3=pd.merge(df_merge3,code_month_mean, on=['code','월', '휴일여부'])

In [96]:
df_merge3['아침 비율'].fillna(df_merge3['지점월별아침평균']/(df_merge3.iloc[:,-3:].sum(axis=1)), inplace=True)
df_merge3['낮 비율'].fillna(df_merge3['지점월별낮평균']/(df_merge3.iloc[:,-3:].sum(axis=1)), inplace=True)
df_merge3['저녁 비율'].fillna(df_merge3['지점월별저녁평균']/(df_merge3.iloc[:,-3:].sum(axis=1)), inplace=True)

In [97]:
df_merge3['일반이용자(아침)'].fillna(df_merge3['지점월별아침평균'],inplace=True)
df_merge3['일반이용자(낮)'].fillna(df_merge3['지점월별낮평균'],inplace=True)
df_merge3['일반이용자(저녁)'].fillna(df_merge3['지점월별저녁평균'],inplace=True)

------------
-------------

In [198]:
df_merge3.to_csv('../../Data/version1.csv',index=False)