In [1]:
import pandas as pd

In [2]:
df_merge= pd.read_csv('../../Data/날씨+일별주차이용.csv')

In [3]:
pd.read_csv('../../Data/한강2403-2409.csv')
df = pd.read_csv('../../Data/서울시 한강공원 월별 이용객 현황.csv',encoding='euc-kr')

In [4]:

print(df.columns)
df = df.loc[:,['공원 코드','공원명','일반이용자(아침)','일반이용자(낮)', '일반이용자(저녁)','현황 일시']]

Index(['현황 일련번호', '공원 코드', '공원명', '공원 시명', '공원 구명', '공원 지번 주소', '공원 도로명 주소',
       '등록자 일련번호', '등록 일시', '수정자 일련번호', '수정 일시', '일반이용자(아침)', '일반이용자(낮)',
       '일반이용자(저녁)', '자전거', '인라인', 'pm(개인형이동장치)', '주요행사', '마라톤', '운동시설', '야구장',
       '론볼링장', '트랙구장', '롤러장', '자전거공원', '외국인', '수상시설', '수영장/물놀이장', '빙상장/눈설매장',
       '전망쉼터', '캠핑장', '자연학습장', '음악분수', '키즈랜드', '장미원', 'x게임장', '자벌레', '달빛무지개',
       '세빛섬', '수상무대', '계절,녹음수광장', '천상계단', '피아노물길', '멀티프라자', '서울색공원', '물빛광장',
       '너플들판테라스', '골프장', '여의도샛강', '여의도시민 요트나루', '평화공원브릿지', '거울분수', '강변물놀이장',
       '강변프롬나드', '난지 하늘다리', '갈대숲탐장로', '꿀벌숲', '치유의숲', '그라스정원', '노들섬', '습지생태공원',
       '현황 일시'],
      dtype='object')

In [5]:
df['현황 일시']= pd.to_datetime(df['현황 일시'])

In [6]:
df_merge

,지구별,주차장명,주차대수,이용시간,날짜,code,년도,월,일,휴일여부,...,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),일강수량(mm),평균 이슬점온도(°C),평균 상대습도(%)
0,PLT-005,뚝섬1주차장,273,1.397497,2024-11-10,5,2024,11,10,주말,...,2024-11-10,14.4,10.3,536.0,21.0,1520,0.0,0.0,7.4,64.0
1,PLT-011,잠실1주차장,1059,1.044397,2024-11-10,11,2024,11,10,주말,...,2024-11-10,14.4,10.3,536.0,21.0,1520,0.0,0.0,7.4,64.0
2,PLT-001,강서1주차장,329,1.361449,2024-11-10,1,2024,11,10,주말,...,2024-11-10,14.4,10.3,536.0,21.0,1520,0.0,0.0,7.4,64.0
3,PLT-008,여의도5주차장,229,1.638210,2024-11-10,8,2024,11,10,주말,...,2024-11-10,14.4,10.3,536.0,21.0,1520,0.0,0.0,7.4,64.0
4,PLT-008,여의도2주차장,1934,1.293821,2024-11-10,8,2024,11,10,주말,...,2024-11-10,14.4,10.3,536.0,21.0,1520,0.0,0.0,7.4,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45272,PLT-008,여의도1주차장,873,4.228408,2020-01-16,8,2020,1,16,평일,...,2020-01-16,-1.7,-5.5,816.0,3.2,1430,0.0,0.0,-13.0,43.0
45273,PLT-001,강서1주차장,28,0.206548,2020-01-16,1,2020,1,16,평일,...,2020-01-16,-1.7,-5.5,816.0,3.2,1430,0.0,0.0,-13.0,43.0
45274,PLT-008,여의도1주차장,114,0.887865,2020-01-15,8,2020,1,15,평일,...,2020-01-15,-2.7,-6.4,722.0,2.2,1510,0.0,0.0,-13.4,44.8
45275,PLT-001,강서1주차장,12,0.094444,2020-01-15,1,2020,1,15,평일,...,2020-01-15,-2.7,-6.4,722.0,2.2,1510,0.0,0.0,-13.4,44.8
45276,PLT-008,여의도1주차장,2,0.000000,2020-01-14,8,2020,1,14,평일,...,2020-01-14,-2.3,-5.7,637.0,2.6,1413,0.0,0.0,-13.0,45.3

In [7]:
# PLT-001: 강서   
# PLT-002: 난지   
# PLT-003: 망원   
# PLT-004: 이촌   
# PLT-005: 뚝섬       
# PLT-006: 광나루     
# PLT-007: 양화   
# PLT-008: 여의도     
# PLT-009: 반포   
# PLT-0010: 잠원  
# PLT-0011: 잠실
                             
# Hzone011: 강서  
# Hzone009: 난지  
# Hzone010: 망원  
# Hzone006: 이촌  
# Hzone003: 뚝섬  
# Hzone001 광나루     
# Hzone008: 양화  
# Hzone007: 여의도    
# Hzone005: 반포  
# Hzone004: 잠원  
# Hzone002: 잠실

In [8]:
# 주차장일별['code'] 
codelist = []
for code in df['공원 코드']:
    codelist.append(code.replace('Hzone',""))

In [9]:
df['code'] = codelist

In [10]:
df['code']= pd.to_numeric(df['code'])

In [11]:
# df.iloc[:,]
df_merge['날짜']= pd.to_datetime(df_merge['날짜'])

In [12]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45277 entries, 0 to 45276
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지구별            45277 non-null  object
 1   주차장명           45277 non-null  object
 2   주차대수           45277 non-null  int64
 3   이용시간           45277 non-null  float64
 4   날짜             45277 non-null  datetime64[ns]
 5   code           45277 non-null  int64
 6   년도             45277 non-null  int64
 7   월              45277 non-null  int64
 8   일              45277 non-null  int64
 9   휴일여부           45277 non-null  object
 10  지점명            45277 non-null  object
 11  일시             45277 non-null  object
 12  평균기온(°C)       45277 non-null  float64
 13  최저기온(°C)       45277 non-null  float64
 14  최저기온 시각(hhmi)  45277 non-null  float64
 15  최고기온(°C)       45277 non-null  float64
 16  최고기온 시각(hhmi)  45277 non-null  int64
 17  강수 계속시간(hr)    45277 non-null  float64
 18  일강수량(mm)       45277 non-null  float64
 19  평균 이슬점온도(°C)   45277 non-null  float64
 20  평균 상대습도(%)     45277 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(6), object(5)
memory usage: 7.3+ MB

In [13]:
df.rename(columns={'현황 일시' : '날짜'}, inplace= True)

In [14]:
df

        공원 코드      공원명  일반이용자(아침)  일반이용자(낮)  일반이용자(저녁)         날짜  code
0    Hzone001  광나루한강공원     2840.0     33780      25450 2024-02-29     1
1    Hzone006   이촌한강공원     5145.0     47990      37857 2024-02-29     6
2    Hzone003   뚝섬한강공원    13100.0    167450     187420 2024-02-29     3
3    Hzone002   잠실한강공원     9820.0     41340      49010 2024-02-29     2
4    Hzone008   양화한강공원    11150.0     33940      32050 2024-02-29     8
..        ...      ...        ...       ...        ...        ...   ...
810  Hzone002   잠실한강공원    12700.0     53510      45450 2018-01-31     2
811  Hzone007  여의도한강공원    17920.0    100690     113010 2018-01-31     7
812  Hzone008   양화한강공원     3860.0     37975      18209 2018-01-31     8
813  Hzone003   뚝섬한강공원    44450.0    449660     129590 2018-01-31     3
814  Hzone011   강서한강공원     2329.0     29174      17230 2018-01-01    11

[815 rows x 7 columns]

In [15]:
df= df.iloc[:,2:]