In [1]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
import holidays
import holidays

In [ ]:
# 한글 폰트 문제 해결 
# matplotlib은 한글 폰트를 지원하지 않음
# os정보
import platform
import matplotlib.pyplot as plt

# font_manager : 폰트 관리 모듈
# rc : 폰트 변경 모듈
from matplotlib import font_manager, rc
# unicode 설정
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic') # os가 macos
elif platform.system() == 'Windows':
    path = 'c:/Windows/Fonts/malgun.ttf' # os가 windows
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print("Unknown System")

## 전처리본 확인

In [ ]:
df=pd.read_csv('../../Data/서울 한강 일반 이용자 전처리본.csv', index_col=0)

In [ ]:
df.drop(['일반이용자(아침)','일반이용자(낮)','일반이용자(저녁)','일반이용자 합계'],axis=1, inplace= True)

In [ ]:
df

In [ ]:
df.info()

## 뚝섬 지하철 데이터 확인

In [ ]:
subway=pd.read_csv('../../Data/서울교통공사_역별 일별 시간대별 승하차인원(24.2~24.5).csv',encoding='euc-kr', index_col=0)

In [ ]:
subway_0205=subway[(subway['역명'] == '뚝섬유원지') | (subway['역명']=='자양(뚝섬한강공원)')]

In [ ]:
subway_0205

In [ ]:
subway_0205.head()

> 202402~202405 뚝섬유원지역 데이터만 추출

In [ ]:
subway=pd.read_csv('../../Data/서울교통공사 2020년 일별 역별 시간대별 승하차인원(1_8호선).csv',encoding='euc-kr')

In [ ]:
subway2020=subway[subway['역명'] =='뚝섬유원지']

> 2020년 뚝섬유원지 추출

In [ ]:
subway=pd.read_csv('../../Data/서울교통공사 2021년 일별 역별 시간대별 승하차인원(1_8호선).csv', encoding='euc-kr')

In [ ]:
subway2021=subway[subway['역명'] == '뚝섬유원지']

In [ ]:
subway2021.info()

> 2021년도 추출

In [ ]:
subway=pd.read_csv('../../Data/서울교통공사_역별 일별 시간대별 승하차인원 정보_20221231.csv', encoding='euc-kr')

In [ ]:
subway2022=subway[subway['역명'] == '뚝섬유원지']

> 2022년도 추출

In [ ]:
subway=pd.read_csv('../../Data/서울교통공사_역별 일별 시간대별 승하차인원 정보_20231031.csv', encoding='euc-kr')

In [ ]:
subway2310=subway[subway['역명'] == '뚝섬유원지']

> 2023년도 10월까지의 데이터

In [ ]:
subway=pd.read_csv('../../Data/서울교통공사_역별 일별 시간대별 승하차인원 정보_23.11_24.01.csv', encoding='euc-kr')

In [ ]:
subway2311=subway[subway['역명'] == '뚝섬유원지']

> 23년도 11월~24년 1월 데이터

In [ ]:
# subway2020 # 20년 1월 ~ 12월
# subway2021 # 21년 1월 ~ 12월
# subway2022 # 22년 1월 ~ 12월 
# subway2310 # 23년 1월 ~ 10월
# subway2311 # 23년 11월 ~ 24년1월
# subway_0205 # 24년2월~5월

In [ ]:
subway2020.drop(['23:00 ~ 24:00', '24:00 이후'],axis=1, inplace= True)

In [ ]:
subway2020.columns

In [ ]:
subway2021.drop('연번',axis=1, inplace= True)

In [ ]:
subway2021.drop(['23시 이후','합 계'],axis=1, inplace = True)

In [ ]:
subway2021.columns= subway2020.columns

In [ ]:
subway=pd.concat([subway2020, subway2021])

 > 2020, 2021 컬럼명 일치시킨후 병합

In [ ]:
subway.columns

In [ ]:
subway2022.drop(['연번','23-24시간대','24시이후'], axis=1, inplace= True)

In [ ]:
subway2020.columns= subway.columns

In [ ]:
subway=pd.concat([subway, subway2020])

> 2020, 2021, 2022 병합

In [ ]:
subway.columns

In [ ]:
subway2310.drop(['연번','23-24시간대','24시이후'],axis=1, inplace = True)

In [ ]:
subway2310.columns = subway.columns

In [ ]:
subway=pd.concat([subway, subway2310])

> 2020, 2021, 2022, 2310 병합

In [ ]:
subway.columns

In [ ]:
subway2311.drop(['연번','23시-24시','24시 이후'], axis=1, inplace=True)

In [ ]:
subway2311.columns = subway.columns

In [ ]:
subway=pd.concat([subway,subway2311])

> 2020 ~ 2024년 1월까지 병합

In [ ]:
subway.columns

In [ ]:
subway_0205.drop(['23시-24시','24시 이후'],axis=1, inplace= True)

In [ ]:
subway_0205.columns = subway.columns

In [ ]:
subway=pd.concat([subway, subway_0205])

> 지하철 2020 ~ 202405병합 완료

In [ ]:
subway.reset_index(drop=True, inplace=True)

In [ ]:
subway['날짜']=pd.to_datetime(subway['날짜'])

> 날짜 타입 변환

In [ ]:
# 필요없는 컬럼 삭제
subway.drop('역번호',axis=1, inplace=True)
subway.drop('06:00 이전', axis=1 , inplace=True)

In [ ]:
subway.columns

In [ ]:
subway['아침 합계']=subway.iloc[:,4:8].sum(axis='columns')

In [ ]:
subway['낮 합계'] = subway.iloc[:,8:15].sum(axis='columns')

In [ ]:
subway['저녁 합계']=subway.iloc[:,15:-2].sum(axis='columns')

In [ ]:
subway['역명'].unique()

In [ ]:
# subway.loc[:,['날짜','호선','역명','구분','아침 합계','낮 합계','저녁 합계']].to_csv('../../Data/뚝섬유원지역지하철정보.csv',index=False)

--------
# Check Point

In [ ]:
subway=pd.read_csv('../../Data/뚝섬유원지역지하철정보.csv')

In [ ]:
subway['날짜']=pd.to_datetime(subway['날짜'])

In [ ]:
subway['년'] = subway['날짜'].dt.year
subway['월'] = subway['날짜'].dt.month

In [ ]:
# 평일 휴일로 분리 시켜주기 


# 대한민국 공휴일 가져오기
kr_holidays = holidays.KR(years=range(2020,2025))

# 날짜가 공휴일인지를 체크하는 함수 추가
subway['휴일여부'] =subway['날짜'].apply(lambda x: '휴일' if x in kr_holidays else ('주말' if x.weekday() >= 5 else '평일'))

In [ ]:
subway

In [ ]:
subway

In [ ]:
sns.lineplot(
    x=subway['월'],
    y=subway['아침 합계'],
    data=subway,
    color='blue',
    label = '아침'
    
)
sns.lineplot(
    x=subway['월'],
    y=subway['낮 합계'],
    data=subway,
    color='red',
    label = '낮'
    
)
sns.lineplot(
    x=subway['월'],
    y=subway['저녁 합계'],
    data=subway,
    color='yellow',
    label = '저녁'
    
)
plt.ylabel('승하차 합계')
plt.ylim(0,5000)
plt.legend()
plt.show()

> 4월~5월 낮과 저녁에 큰 상승폭을 보임/ 아침은 큰 변화 없음

In [ ]:
subway['총합'] = subway['아침 합계'] +subway['낮 합계']+subway['저녁 합계']

In [ ]:
subway=subway.iloc[:,[0,3,4,5,6,7,8,9,10]]

In [ ]:
subway

In [ ]:
test=subway.pivot_table(
    ['아침 합계','낮 합계','저녁 합계'],
    index=['날짜','구분'],
    aggfunc='sum'
)

In [ ]:
test

In [ ]:
sns.barplot(
    data=test,
    x='구분',
    y='저녁 합계',
    color='yellow',
    label = '저녁'
)
sns.barplot(
    data=test,
    x='구분',
    y='낮 합계',
    color='red',
    label = '낮'
)
sns.barplot(
    data=test,
    x='구분',
    y='아침 합계',
    color='blue',
    label = '아침'
)

plt.ylabel('합계')
plt.legend()
plt.show()

> 시간별 승차인원은 큰 차이가 없지만, 하차 인원에서는 유의미한 차이를 보인다.

In [ ]:
subway[subway['년'] ==2020]['월'].value_counts()

In [ ]:
subway=subway.drop_duplicates()

In [ ]:
# subway.groupby(['월','휴일여부','구분'])
fig = plt.figure(figsize=(15,5))
ax1= fig.add_subplot(2,2,1)
ax2 = fig.add_subplot(2,2,2)
ax3 = fig.add_subplot(2,2,3)
sns.barplot(
    x=subway['월'],
    y=subway['아침 합계'],
    data=subway,
    hue='구분',
    ax=ax1
)
sns.barplot(
    x=subway['월'],
    y=subway['낮 합계'],
    data=subway,
    hue='구분',
    ax=ax2
)
sns.barplot(
    x=subway['월'],
    y=subway['저녁 합계'],
    data=subway,
    hue='구분',
    ax=ax3
)

plt.ylim(0,5000)
plt.show()

> 아침 승하차 차이가 너무 많이남 : 출근시간으로 예상됨

In [ ]:
# subway.groupby(['월','휴일여부','구분'])
fig = plt.figure(figsize=(15,10))
ax1= fig.add_subplot(2,2,1)
ax2 = fig.add_subplot(2,2,2)
ax3 = fig.add_subplot(2,2,3)
sns.barplot(
    x=subway['월'],
    y=subway['아침 합계'],
    data=subway,
    hue='휴일여부',
    ax=ax1
)
sns.barplot(
    x=subway['월'],
    y=subway['낮 합계'],
    data=subway,
    hue='휴일여부',
    ax=ax2
)
sns.barplot(
    x=subway['월'],
    y=subway['저녁 합계'],
    data=subway,
    hue='휴일여부',
    ax=ax3
)

plt.ylim(0,8000)
plt.show()

In [ ]:
park=pd.read_csv('../../Data/서울 한강 일반 이용자 전처리본.csv', index_col=0)

In [ ]:
# 파일 : 한강공원 주차장 정보.csv 
# 광나루
    # 1,2 : 168 = 파일과 동일
    # 3 : 191 = 파일과 동일
# 뚝섬 
    # 1 : 67 = 파일과 동일
    # 2	: 356 = 파일과 동일
    # 3	: 112 = 파일과 동일
    # 4	: 136 = 파일과 동일

# 여의도 실시간 4,5 없음(파일엔 존재)
    # 1 : 462 = 파일과 동일
    # 2 : 171 = 파일과 동일
    # 3 : 800 = 파일과 동일

# 잠원 :  실시간 1~6, 735
    #(파일 2-6데이터 삭제해도됨)

# 잠실 : 실시간 1~4, 471 
    # 파일(1,4번 한개 삭제 해도됨)

# 반포 : 
    # 1 :  332 = 파일과 동일 
    # 2~3 실시간 :  315         
    # 4 실시간 : 46   (파일 2~3 315+46)
# 난지
    # 1,2,3 : 544 = 파일과 동일

# 이촌 : 실시간 3,4주차장만 존재 257

# 양화 : 
    # 1 : 88 = 파일과 동일
    # 2 : 20 = 파일과 동일
    # 3 : 393 = 파일과 동일

# 강서 

pd.read_csv('../../Data/한강공원 주차장 정보.csv', encoding='euc-kr')[['주차장별','면수']]

In [22]:
temp=pd.read_csv('../../Data/한강공원 주차장 정보.csv',encoding='euc-kr')
temp=temp.iloc[:,[1,2,3]]

In [23]:
# 파일 : 한강공원 주차장 정보.csv 

# 광나루(문제 없음)
    # 1,2 : 168 = 파일과 동일
    # 3 : 191 = 파일과 동일
# 뚝섬(문재없음)
    # 1 : 67 = 파일과 동일
    # 2	: 356 = 파일과 동일
    # 3	: 112 = 파일과 동일
    # 4	: 136 = 파일과 동일

# 여의도 실시간(문제 없음) 4,5 없음(파일엔 존재)
    # 1 : 462 = 파일과 동일
    # 2 : 171 = 파일과 동일
    # 3 : 800 = 파일과 동일

# 잠원(문제없음) :  실시간 1~6, 735
    #(파일 2-6데이터 삭제해도됨)

# 잠실(문제 없음) : 실시간 1~4, 471 
    # 파일(1,4번 한개 삭제 해도됨)

# 반포(문제없음) : 
    # 1 :  332 = 파일과 동일 
    # 2~3 실시간 :  361        
# 난지(문제없음)
    # 1,2,3 : 544 = 파일과 동일 

# 이촌(문제 없음) : 실시간 3,4주차장만 존재 257

# 양화(문제없음) : 
    # 1 : 88 = 파일과 동일
    # 2 : 20 = 파일과 동일
    # 3 : 393 = 파일과 동일
    
# 강서(문제없음)
		# 1 : 53
# 망원(문제없음)
		# 1 : 229
		# (파일은 1,2 존재 둘다 수치 다름)

In [24]:
temp=temp.sort_values('주차장별')

In [37]:
# 9,10,19,20,21,22
temp=temp.drop(index=[9,10,19,20,21,22])
# temp

In [38]:
temp

          주차장별   위치정보(위도)    위치정보(경도)
0       강서1주차장  37.585709  126.818279
1    광나루1,2주차장  37.553885  127.123160
2      광나루3주차장  37.543078  127.117775
3   난지1,2,3주차장  37.569822  126.873640
4       뚝섬1주차장  37.527691  127.078163
5       뚝섬2주차장  37.529076  127.073524
6       뚝섬3주차장  37.530671  127.067352
7       뚝섬4주차장  37.531472  127.064402
8       망원1주차장  37.544463  126.911188
11      반포1주차장  37.513591  127.003255
12    반포2,3주차장  37.510071  126.995890
13      양화1주차장  37.537367  126.903686
14      양화2주차장  37.539879  126.900429
15      양화3주차장  37.544880  126.892235
16     여의도1주차장  37.522752  126.939600
17     여의도2주차장  37.529074  126.930968
18     여의도3주차장  37.532383  126.923676
23      이촌3주차장  37.517531  126.970492
24      이촌4주차장  37.521365  126.960795
25      잠실1주차장  37.519940  127.093999
26      잠실4주차장  37.517628  127.086736
27      잠원1주차장  37.524440  127.015933
28    잠원2-6주차장  37.528742  127.020471